<div class="nothing p-3">
<form class="w-50 container whitebg border border-dark my-3">
    <h3 class="text-center m-3">Login</h3>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" #email class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" #password class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button (click)="validateUser(email.value, password.value)" class="btn btn-dark my-2">Submit</button>

    <div class="alert alert-danger" *ngIf="loginError == true">Invalid Username or Password.</div>

  </form>
</div>